SUPABASE_URL=https://weuomrbfzfbiisncqtnz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndldW9tcmJmemZiaWlzbmNxdG56Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNzk3NDAsImV4cCI6MjA5NDk1NTc0MH0.g2DQHeM-8J4HezQ5sRSdre_M-eeqOlWfHDhWFCARqQg
GEMINI_API_KEY=AIza...
FIREBASE_ADMIN_SDK_JSON={"type":"service_account","project_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"..."}
LOG_LEVEL=INFO

# --- Firebase Configuration ---
# Trỏ đến file service account key vừa tải về
GOOGLE_APPLICATION_CREDENTIALS="android\app\\nutriscan-176a2-firebase-adminsdk-fbsvc-06308efa58.json"